# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcworkspace
xcuserdata/
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
DerivedData/
.DS_Store

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build

# fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Misc
*.o
*.a
*.so
.gitignore~
*.env
