<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>se.updown.steps.refresh</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Appen behöver åtkomst till ditt bildbibliotek för att välja en profilbild.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Vi ber om tillstånd att spåra så att vi kan förbättra upplevelsen och hålla koll på dina aktiviteter.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
