<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.upanddown.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>upanddown</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Insert Affiliate</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ia-ooc4erygmyaztjecbnr7tjzb1bl2</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>Vi använder detta tillstånd för att kunna förbättra träningsupplevelsen och hålla din statistik synkad. Ingen reklamspårning sker.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>snapchat</string>
		<string>sms</string>
	</array>
</dict>
</plist>
